body{
    background-color: #1E1E1E;
    font-family: 'Gayathri', sans-serif;
    margin: 0;
    padding: 0;
}

/* ---Index.html--- */
.typewriter{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    color: #E8E8E8;
    font-family: monospace;
    font-size: 2em;
    white-space: nowrap; /* Keeps the content on a single line */
}

@media (max-width:430px)
{
  .typewriter
  {
    font-size: 0.7em;
    transition: 0,3s;
    margin-top: 50%;
  }

}

a
{
    color: #E8E8E8;
    text-decoration: none;
}

a:visited
{
    color: #E8E8E8;
    text-decoration: none;
}

a:hover
{
    color: #9f9f9f;
    text-decoration: none;
}

/* --- Home page stylings --- */

#container >  h1
{
  text-align: center;
  margin-top: 20%;
  color: #e1e1e1;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 8em;
}

/* - Navigation bar - */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #e8e8e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    margin-top: 3%;
  }

  @media (max-width: 480px){
    .sidenav{
    margin-top: 9.5%;
    }
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
    z-index: 100;
  }
  
  .sidenav a:hover {
    color: #8E8E8E;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* - Home logo styling - */

#homeLogo
{
    text-transform: uppercase;
    text-align: center;
    background-color: #E8E8E8;
    color: #1E1E1E;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    font-size: 2vw;
    z-index: 100;
}

#menu
 {
   color: #1e1e1e; 
   float: left; 
   font-size: 2vw;
   cursor:pointer; 
   margin-left: 13px;
   margin-top: 8px; 
   text-align: center;
 }

#homeLogo > a:visited
{
    color: #1E1E1E;
}

#homeLogo > a:hover
{
    color: #9f9f9f;
    transition: 0.3s;
}

#mainPhoto
{
  height: 800px;
  background-image: url(img/mainPhoto.jpg);
  background-size: cover;
  background-position: center bottom;
}

#mainQuote
{
  color: #E8E8E8;
  background-color: #1E1E1E;
  text-align: center;
  font-style: bold;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 2px;
}



/* Style the navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

@media (max-width: 800px)
{
  #mainQuote
  {
    font-size: 21px;
    transition: 0,3s;
  }

}

#sideNavButton
{
  color: #1e1e1e; 
  float: left; 
  font-size: 2vw;
  cursor:pointer;
  margin-left: 13px;
  margin-top: 8px; 
  text-align: center;
}

/* Styles for Arts page */

@media (max-width:768px){
#homeLogo{
font-size: 5vw;
}
#sideNavButton{
  font-size: 6vw;
}

}

#ArtsContainer{
  margin-top: 21%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flexbox;
}

.ArtsDescriptions{
  text-align: center;
  color: #E8E8E8;
}

/* About me styles */

.aboutMeBox
{
  margin-top: 21%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #E8E8E8 ;
  display: flexbox;
  letter-spacing: 1px;
}

.aboutMeParagraph{
  padding-left: 5%;
}

/* ----- Index styles ----- */

.indexMainText
{
  
  margin-left: 10%;
  margin-right: 10%;
  color: #1E1E1E ;
  margin-top: 80%;
  font-size: 4.3vw;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 1px;
  background-color: white;
}

/* test  */ 
.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}