body {
	background-color: #1E1E1E;
	font-family: 'Gayathri', sans-serif;
	margin: 0;
	padding: 0;
}

/* --- Home page styling --- */

.indexBox
{
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}

.indexText{
  z-index: 100;
  position: absolute;
  bottom: 10%;
  font-size: 2em;
  color: #1E1E1E;
  background-color: white;
  width: 98%;
  text-align: center;
  letter-spacing: 1px;
  padding: 1%;
}

#mainPhoto {
	height: 800px;
	background-image: url(img/indexBlog.jpeg);
	background-size: cover;
	background-position: center;
}

#mainQuote {
	color: #E8E8E8;
	background-color: #1E1E1E;
	text-align: center;
	font-style: bold;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 2px;
}

a {
	color: #E8E8E8;
	text-decoration: none;
}

a:visited {
	color: #E8E8E8;
	text-decoration: none;
}

a:hover {
	color: #9f9f9f;
	text-decoration: none;
  opacity: 0.5;
  transition: opacity .15s ease-in-out;
}


/* --- Home page stylings --- */

.mobileIndexPhoto
{
  display: none;
}


/* - Navigation bar - */

.languageButtons
{
  float: right;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
  top: 50;
	left: 0;
	background-color: #e8e8e8;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 30px;
	margin-top: 2.5%;
}

@media (max-width: 735px) {
	.sidenav {
		margin-top: 6%;
	}
}


.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #1E1E1E;
	display: block;
	transition: 0.3s;
	z-index: 100;
}

.sidenav a:hover {
	color: #8E8E8E;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* - Home logo styling - */

#homeLogo {
	text-transform: uppercase;
	background-color: #E8E8E8;
	color: #1E1E1E;
	font-weight: bold;
	letter-spacing: 2px;
  padding-top: 1%;

	font-size: 5vw;
	text-align: center;
}

#menu {
	color: #1e1e1e;
	float: left;
	font-size: 2vw;
	cursor: pointer;
}

#homeLogo>a:visited {
	color: #1E1E1E;
}

#homeLogo>a:hover {
	color: #9f9f9f;
	transition: 0.3s;
}

/* Style the navbar */

#navbar {
  background-color: #E8E8E8;
}

#sideNavButton {
	color: #1e1e1e;
	float: left;
	font-size: 5vw;
	cursor: pointer;
	margin-left: 13px;
	margin-top: 10px;
	text-align: center;
  
}

/* Styles for Arts page */

#ArtsContainer {
	margin-top: 21%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	display: flexbox;
}

.ArtsDescriptions {
	text-align: center;
	color: #E8E8E8;
}

/* About me styles */

.aboutMePhoto {
  background-color: #E8E8E8;
	letter-spacing: 1px;
  position: relative;
}

.aboutMeBox {
  background-color: #E8E8E8;
	letter-spacing: 1px;
  position: relative;
  margin-top: 21%;
}

.certificatesBox
{
  background-color: #E8E8E8;
  padding-top: 3%;
}

.aboutMeParagraph {
	padding-left: 5%; 
  padding-right: 5%; 
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #E8E8E8;
  text-align: justify;
}


.aboutMeImage
{
  padding-left: 5%; 
  padding-right: 5%;
  padding-top: 5%; 
  width: 100%;
}

@media all and (min-width: 770px)
{
  .aboutMeImage{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

}

.aboutMeHeader
{
  margin-left: 5%; 
  text-align: center;
  padding-top: 3%;
}

.certificationsHeader
{
  margin-left: 5%; 
  text-align: center;
  padding-top: 3%;
}

.aboutMeText
{
  margin-top: 30%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #E8E8E8;
	letter-spacing: 1px;
}
/* Fade in and out effect while opening the page  */

.animate-in {
	-webkit-animation: fadeIn .5s ease-in;
	animation: fadeIn .5s ease-in;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Book page styles */

.bookDiv {

	background-color: #E8E8E8;
	letter-spacing: 1px;
	text-align: justify;
	padding: 5%;
}


.comingSoonHeader {
	margin-top: 21%;
	font-size: 10vw;
	color: #E8E8E8;
	text-align: center;
}

/* Footer styles */

#footerBox
{
  width: 100%;
  background-color: #E8E8E8;
  color: #1E1E1E;
}

.footerSocialsMedia {
	padding-top: 1%;
	text-align: center;
	margin-top: 3%;
	font-size: 8vw;
}

.siteFooter {
  height: 100%;
	font-size: 5vw;
	text-align: center;
}

/* Blog styles */

.blogContainer {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 21%;
	background-color: #E8E8E8;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 8%;
}

.blogListLink {
	color: #1E1E1E;
	text-decoration: none;
}

.blogListLink:visited {
	color: #1E1E1E;
	text-decoration: none;
}

.blogListLink:hover {
	color: #9f9f9f;
	text-decoration: none;
}

/* Trip pages styles */

.tripTitle {
  padding: 3%;
	text-align: center;
	color: #E8E8E8;
  font-size: 3vw;
}

.tripHeader {
	padding: 3%;
	text-align: center;
  color: #E8E8E8;
}
.tripDescription {
  color: #E8E8E8;
  padding: 3% 0 3% 0;
	letter-spacing: 1px;
	text-align: left;
}

.mainTripPhoto {
	height: 800px;
	background-image: url(../myWebsie/img/Trips/tatry2020/Day1/IMG_2197-min.jpeg);
	background-size: cover;
	background-position: center;
}

/* Art's page styles */

.artDescriptionBox
{
  margin-top: 21%;
}

.margin
{
  padding: 1%;
}

.artTitle {
	font-size: 8vw;
	color: #E8E8E8;
	text-align: center;
	margin-top: 3%;
}

.artDescription {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
  margin-top: 3%;
	text-align: justify;
	color: #E8E8E8;
}

.item:hover, .artFirstPhoto:hover
{
    opacity: 0.5;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

/* Photos page styling */

.bigPhoto {
	margin-left: auto; 
  margin-right: auto; 
  margin-top: 21%;
}

.artDescription {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	color: #E8E8E8;
}

.artFirstPhoto
{
  margin-top: 21%;
}

.interiorArt
{
  margin-top: 3%;
}

.mobilePadding
  {
    padding-top: 0%;
  }

/* Media queries */

/* Mobile width */
@media (max-width: 576px) 
{
	#homeLogo, #sideNavButton, .comingSoonHeader, .siteFooter
  {
    font-size: 4vw;
  }

  .footerSocialsMedia
  {
    font-size: 4vw;
    padding-top: 1%;
  }

  .aboutMeHeader
  {
    padding-top: 3%;
  }

  .tripTitle{
    font-size: 5vw;
    margin-top: 13%;
  }

  .tripDescription
  {
    padding: 5%;
  }
  
  #mainQuote
  {
    padding: 8%;
  }

  .aboutMeBox
  {
    margin-top: 13%;
  }

  .bigScreenIndexPhoto
  {
    display: none;
  }

  .mobileIndexPhoto
  {
    display: inline-block;
  }

  .artDescriptionBox
  {
    margin-top: 3%;
  }

  .artFirstPhoto
{
  margin-top: 5%;
}

.artDescriptionBox
{
  margin-top: 3%;
}

.mobilePadding
{
  margin-top: 3%;
}


}




/* iPad screen width */

@media (min-width: 768px) 
{
	#homeLogo, #sideNavButton, .footerSocialsMedia, .siteFooter
  {
    font-size: 1.8vw;
  } 

  .comingSoonHeader
  {
    font-size: 10vw;
    margin-top: 8%;
  }

.artFirstPhoto, .artDescriptionBox, .blogContainer
  {
    margin-top: 8%;
  }

  .tripTitle
  {
    margin-top: 3%;
  }

  .bigPhoto
  {
    margin-top: 8%;
  }

  .aboutMeBox
  {
    margin-top: 8%;
  }
  .bigScreenIndexPhoto
  {
    display: inline-block;
  }

  .mobileIndexPhoto
  {
    display: none;
  }

  .artDescriptionBox
  {
    margin-top: 8%;
  }

  .artFirstPhoto
  {
    margin-top: 5%;
  }

  .mobilePadding
  {
    margin-top: 3%;
  }

}

/* Big screen */

@media (min-width: 1200px)
{
  #homeLogo, #sideNavButton, .footerSocialsMedia, .siteFooter
  {
    font-size: 2vw;
  }

  .comingSoonHeader
  {
    font-size: 10vw;
    margin-top: 8%;
  }

.artFirstPhoto, .blogContainer
  {
    margin-top: 8%;
  }

  .tripTitle
  {
    margin-top: 1%;
  }


  #mainPhoto {
    background-position: center 40%;
  }

  .aboutMeBox
  {
    margin-top: 8%;
  }

  .bigScreenIndexPhoto
  {
    display: inline-block;
  }

  .mobileIndexPhoto
  {
    display: none;
  }

  .mobilePadding
  {
    margin-top: 0%;
  }

  .languageButtons
  {
    font-size: 1vw;
    color: red;
  }
 
} 





